Debug/
Release/
obj/
bin/
*.bak

*.hex
*.eep
*.cof
*.elf
*.map
*.lss
*.srec
*.mp
*.pbi
*.link

.atmelstart/
*.componentinfo
*.atdf
.atmelstart.config
*.vhd
*.vhd.bak
*.componentinfo.xml

.vs/
.vscode/
*.suo
*.user
*.ncb
*.pidb
*.userprefs

.DS_Store
Thumbs.db